# Global ignore
*.env

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
terraform.tfvars
**/localstack-data/

node_modules/
dist/
build/
.idea/
.vscode/

.DS_Store
private.pem

infrastructure/*