# Global ignore
*.env

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
terraform.tfvars
**/localstack-data/
tfplan

# Keep .terraform.lock.hcl (provider version lock file - should be committed)
# !.terraform.lock.hcl

node_modules/
dist/
build/
.idea/
.vscode/

.DS_Store
private.pem

docs/dev/