services:
  k6:
    image: grafana/k6:latest
    container_name: k6-runner
    env_file:
      - ./k6.env
    environment:
      - K6_OUT=experimental-prometheus-rw
      - K6_PROMETHEUS_RW_SERVER_URL=http://host.docker.internal:9090/api/v1/write
      - K6_PROMETHEUS_RW_TREND_STATS=p(90),p(95),p(99),min,max,avg
      - K6_PROMETHEUS_RW_PUSH_INTERVAL=15s
      - K6_PROMETHEUS_RW_TIMEOUT=30s
    volumes:
      - ../load-test:/scripts/load
      - ../spike-test:/scripts/spike
      - ../stress-test:/scripts/stress
